# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build output
build/
dist/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Temp files
*.tmp
*.bak
*.swp

# Local env
.env
.env.local
